@using ZPP_Project.Helpers
@model ZPP_Project.EntityDataModel.V_Company
           

<div class="row">
    <div class="col-md-12">
        <div>
            <!-- TODO show/collapse icon here -->
        </div>
        @Html.ActionLink(CompanyHelper.Display(Model), "Details", "Company", new {id = Model.IdUser}, null)
    </div>
    <div class="col-md-4">
        <!-- Company -->
        <div class="row">@Model.Address</div>
    </div>
    <div class="col-md-4">
        <!-- Website -->
        <div class="row"><a href="@Model.Website" target="_blank">Website</a></div>
    </div>
    <div class="col-md-4">
        <!-- Email -->
        <div class="row"><a href="mailto:@Model.Email">Contact</a></div>
    </div>
</div>
