@model List<ZPP_Project.EntityDataModel.V_Company>

@{
    ViewBag.Title = "Companies";
}

<div class="container">
    @foreach (var item in Model)
    {
        @Html.Partial("CompanyDisplay", item)
    }
</div>
