@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p>Etiam volutpat, erat in lobortis dapibus, eros eros condimentum massa, id bibendum felis lacus eu libero. Donec non commodo felis. In pulvinar purus massa, vel venenatis ex fringilla eget. In facilisis tincidunt dolor ut efficitur. Nullam consequat, ex eu sollicitudin ultrices, turpis risus lacinia augue, eu lacinia est enim non enim. Cras quis purus faucibus, tempor quam sed, posuere quam. Quisque mollis maximus tortor a tincidunt. Maecenas ut sagittis enim. Pellentesque nec turpis justo. Vestibulum lacinia mi eu neque egestas, in tristique ipsum accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum eget dictum erat. Suspendisse maximus, lacus vel fringilla pharetra, elit nibh hendrerit nisi, eget tristique felis felis tempus arcu. Quisque diam quam, pharetra luctus augue quis, laoreet commodo metus. Nulla odio nisi, convallis ac vehicula et, ultricies ac tortor.</p>

<address>
    Santa Claus Main Post Office<br />
    Tähtikuja 1, FI-96930 Napapiiri<br />
    <abbr title="Phone">P:</abbr>
    020 4523 120<br />
    
</address>

<iframe width="600"
    height="500"
    id="gmap_canvas"
    src="https://maps.google.com/maps?q=T%C3%A4htikuja%201%2C%20FI-96930%20Napapiiri&t=&z=14&ie=UTF8&iwloc=&output=embed"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0" >
</iframe>

<address>
    <strong>Integer eget turpis:</strong>   <a href="mailto:joulupukinpaaposti_invalid@posti.fi">joulupukinpaaposti@posti.fi</a><br />
    <strong>Suspendisse vel lorem venenatis:</strong> <a href="mailto:joulupukinpaaposti_invalid@posti.fi">joulupukinpaaposti@posti.fi</a>
</address>