@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lorem ipsum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>
        In viverra massa purus, vestibulum faucibus arcu gravida sed. In bibendum est quis turpis porttitor ullamcorper. Ut nec eros tortor. Duis non luctus nisi. Mauris a commodo nisl, eu cursus neque. Nunc posuere felis urna, eget tincidunt justo ultrices elementum. Aenean faucibus dui eu magna suscipit sollicitudin. Vestibulum sit amet dolor tincidunt, porttitor massa ac, posuere lectus. Aenean elit arcu, ultrices suscipit dictum sit amet, posuere at sapien. Vestibulum at convallis tellus. Ut nec quam in nisl porttitor tristique nec id neque. Nam eget sagittis elit. Quisque imperdiet sodales erat, at aliquet ligula blandit nec.
    </p>
</div>
<div class="row">
    <div class="col-md-7">
        <p>
            Proin nisi libero, pharetra ut mauris quis, maximus viverra purus. Nulla nisi ante, rhoncus et ipsum ac, aliquam gravida est. Vivamus suscipit tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam placerat leo ut mi tempor consequat sit amet et ante. Phasellus nulla odio, porttitor a velit a, pretium eleifend velit. Fusce egestas metus vitae mollis cursus. Mauris blandit vehicula hendrerit. Aliquam non ipsum augue.
        </p>
    </div>
    <div class="col-md-5">
        <p>
            Praesent consectetur sollicitudin sodales. Integer nec tortor euismod, hendrerit ante nec, viverra sapien. Nam cursus suscipit orci. Nam viverra et ipsum non tempor. Suspendisse placerat condimentum maximus. Ut sodales malesuada lacus convallis vulputate. Proin dictum leo ut massa hendrerit, a faucibus tortor molestie. In convallis volutpat suscipit. Suspendisse potenti.
        </p>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Courses</h2>
            <p>
                Pellentesque sed turpis sed felis suscipit tincidunt eget id justo. Nam mattis scelerisque arcu a placerat. Vivamus quis venenatis odio. Cras sed facilisis nulla. Vestibulum eget malesuada neque. Nulla facilisi. Praesent et justo nulla. Etiam nec lorem ac diam vehicula malesuada. 
            </p>
            <p><a class="btn btn-default" href="/Course">Browse &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Teachers</h2>
            <p>
                Praesent sit amet vehicula augue, id pharetra metus. Duis nec sem non purus gravida sollicitudin. Nulla dignissim libero venenatis nunc maximus, at auctor mauris auctor. Sed finibus ligula orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            </p>
            <p><a class="btn btn-default" href="/Teacher">Browse &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Companies</h2>
            <p>
                Cras mollis sapien quam, id lobortis orci vehicula et. Nunc placerat aliquam dui sit amet rhoncus. Donec aliquam turpis turpis, bibendum maximus orci pharetra bibendum.
            </p>
            <p><a class="btn btn-default" href="/Company">Browse &raquo;</a></p>
        </div>
    </div>
