@{
    ViewBag.Title = "Confirm email";
}

<h2>@ViewBag.Title.</h2>

<div>
    <p>
        Email service is currently not available. Please <a href="@ViewBag.Link">click here to confirm</a>
    </p>
</div>
