@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <p>@Html.ActionLink("Courses details", "CoursesDetails", "Report", null, new { @class = "btn btn-default" })</p>
</div>
<div class="container">
    <p>@Html.ActionLink("Courses attendance", "CoursesAttendance", "Report", null, new { @class = "btn btn-default" })</p>
</div>
