@{
    ViewBag.Title = "Lectures";
}

<h2>@ViewBag.Title</h2>

<h4>Do you want to create course with no lectures?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="no_lectures" value="Yes" class="btn btn-default" />
            <input type="submit" name="add_lectures" value="No" class="btn btn-default" />
            <input type="submit" name="back_to_create" value="Back" class="btn btn-default" />
        </div>
    </div>
}